*.o
dna
dna_dir/
.*.sw*
a.out
*.video
*.pcm
*.audio
*.pyc
tags
*.pyo
test
*.avi
*.yuv
*.mp4
*.flv
/tmp
*.asf
core
*.out
dna
*.cdna
*.log
*.txt
linux_386/code.google.com/
code.google.com/
pkg/linux_386/
pkg/linux_386/github.com/
src/github.com/

