*.o
dna
dna_dir/
.*.sw*
a.out
*.video
*.png
*.pcm
*.audio
*.pyc
tags
*.pyo
test
*.avi
*.yuv
*.mp4
*.flv
/tmp
*.asf
core
*.out
dna
*.cdna
*.log
*.txt
*.bmp 
*.tif 
*.jpg
linux_386/code.google.com/
code.google.com/
pkg/linux_386/
go/src/github.com/
go/pkg/linux_386/

